h2.section__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 1.35;
  font: normal normal bold 35px/1.4em futura-lt-w01-book,sans-serif;
}

.header {
  position: relative;
  width: 100%;
  height: 9vh;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  height: auto;
  position: fixed;
  width: 100%;
  padding: 1.1rem 0;
  font-size: 1.2rem;
}

.menu a {
  color: aliceblue;
  text-decoration: none;
}

.menu__button {
  display: none;
}

body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  min-width: 900px;
  font-size: 1rem;
}

ul {
  list-style-type: circle;
}

li {
  text-align: left;
  margin-left: 18em;
  margin-bottom: .5em;
}

li:first-child {
  margin-top: 2em;
}

li:last-child {
  margin-bottom: 2em;
}

.li1 {
  text-align: left;
  margin-left: 2em;
}

.li1:first-child {
  margin-top: 2em;
}

.profile1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile1__pic {
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
  height: 250px;
}

#Projects {
  color: black;
  padding-top: 3em;
}

.projects {
  max-width: 900px;
  border-bottom: darkgray 2px ridge;
}

.projects:last-child {
  border: none;
}

.projects__h2 {
  color: black;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.35;
}

.projects__img {
  width: 100%;
  height: auto;
}

.projects__ImgWrapper {
  width: 500px;
  height: auto;
  margin: auto;
}

.projects__p {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.projects__button {
  width: 150px;
  height: 50px;
  background-color: #29292f;
  color: aliceblue;
  font-size: 1.1rem;
  border: none;
  border-radius: 1px;
  margin: 0.5em 0 2.5em 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.projects__button:hover {
  font-weight: bold;
}

.about {
  margin: 0 10em;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: black;
}

.about__p {
  margin-bottom: 40px;
}

#AboutMe {
  text-align: center;
  width: 94%;
  margin: auto;
  background: rgba(230, 244, 247, 0.5);
  padding: 2rem 0 6rem 0;
}

a {
  text-decoration: none;
  color: white;
}

.button {
  background: black;
  border: none;
  padding: 16px 9px;
  margin: 17px 0;
}

.footer {
  background-color: black;
  padding-bottom: 2.5em;
  width: 100%;
}

.footer a {
  color: ghostwhite;
}

.footer h2 {
  color: lightgrey;
}

.footer img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1em;
}

.top {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-color: #0c0c0c;
  color: ivory;
  font-weight: bold;
  font-size: 1rem;
  border: none;
}

.skill {
  width: 94%;
  background-color: #FBFBFB;
  margin-top: 1rem;
}

.skill__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill__img--pic {
  width: 100px;
  height: 100px;
  margin-bottom: 5em;
  padding: 0 1rem 0 1rem;
}

.skill__h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 1.35;
  margin: 2.5em 0;
}

.skill__h2 a {
  color: black;
}

@media (max-device-width: 500px) {
  .menu {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-left: 2em;
  }
  .menu__link {
    display: none;
  }
  .menu__button {
    display: inline-block;
    cursor: pointer;
  }
  .menu__button--bar {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
  }
  .modal {
    padding-top: 1em;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .modal p {
    color: #ffffff;
    text-align: left;
    padding-left: 2rem;
    padding-top: 2rem;
  }
  .modal a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-top: 2em;
  }
  h1 {
    font-weight: 300;
    font-size: 40px;
    line-height: 1.35;
  }
  li {
    margin-left: 3em !important;
  }
  .App {
    font-size: 3rem;
    min-width: 0;
  }
  .profile1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .li1 {
    margin: 0 0 1em 0;
  }
  .projects__button {
    width: 150px;
    height: 50px;
    font-size: 0.9rem;
    text-align: center;
  }
  .projects__h2 {
    margin: 10px;
    font-weight: 300;
    font-size: 48px;
    line-height: 1.35;
  }
  .projects__p {
    font-size: 1rem;
    padding: 7px;
  }
  .skill__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skill__img--pic {
    width: 150px;
    height: 150px;
    margin-bottom: 3em;
  }
  .footer a {
    font-size: smaller;
  }
  .footer img {
    margin-bottom: 1em;
  }
  .footer__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-device-width: 800px) {
  .App {
    font-size: 1.5rem;
  }
  li {
    margin-left: 8em;
  }
}
/*# sourceMappingURL=index.css.map */